.page-header {
    background-color: royalblue;
    margin-top: 0;
    padding: 10px 10px 10px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 26pt;
    text-decoration: none;
}
.field{
    display: flex;
    position: relative;
    width: 80vw;
    justify-content: center;
    margin: auto;
    
}