{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>App</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>

<body>

    <div>
        {% include 'barra_navegacion.html' %}
    </div>
    
    <div class="page-header">
    <h1>Bienvenido al home</h1>
    </div>

   <!--<div>
        {% include 'publicaciones_editar.html' %}
    </div>-->
    
    <div class="publicaciones">
        {% include 'publicaciones.html' %}
        
    </div>
    
</body>

</html>