{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva publicacion</title>
    <link rel="stylesheet" href="{% static 'publicacion_editar.css' %}">
</head>
<body>
   {% include 'barra_navegacion.html' %}
    <div class="page-header">
        <h1>Nueva Publicacion</h1>
        </div>
        <br>
    <form method="POST" class="post-form">{% csrf_token %}
       {{ form.respuesta_a }}
        <div class="field">

            <input type="text" name="texto" id="texto" class="form-control">
            <button class="btn btn-outline-secondary" type="submit" id="boton-guardar">Publicar</button>
            

        </div>
    </form>
     
</body>
</html>