<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicaciones</title>
    <style>
        .row{
            
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    .card{
    margin: 8px;
    }
    </style>
</head>
<body>
    {% include 'barra_navegacion.html' %}
    <div class="row">
    <div class="card col-md-8">
        
        <h2><a href="{% url 'home' %}">{{ publicaciones.autor }}</a></h2>
        <p>{{ publicaciones.texto|linebreaksbr }}</p>
        
        {% if publicaciones.fecha_publicacion %}
        
        <div class="date">
                {{ publicaciones.fecha_publicacion }}
        </div>
        {% endif %}
        {% for Respuesta in respuestas %}
        <div class="card col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ Respuesta.autor }}</h5>
                <p class="card-text">{{ Respuesta.texto|linebreaksbr }}</p>
                
                </div>
        </div>
        {% endfor %}
    </div>
</div>
    
    <br>
    {% if publicaciones.autor == usuario %}
    <a class="btn btn-secondary" href="{% url 'publicacion_eliminar' pk=publicaciones.pk %}">Eliminar</a>
    <a class="btn btn-primary" href="{% url 'publicacion_editar' pk=publicaciones.pk %}">Editar</a>
    {% endif %}
    
</body>