{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="{% static estilo %}">
    <title>Publicaciones</title>
</head>
<body>
    <form method="POST" class="post-form">{% csrf_token %}
        
        <div class="field publicar">
            <input type="text" name="texto" id="texto" class="form-control">
            <button class="btn btn-outline-secondary" type="submit" id="boton-guardar">Publicar</button>
        </div>
    </form>
    {% for Publicacion in publicaciones %}
            <div class="row">
               
                <div class="col-md-8">
                    <a href="{% url 'publicacion_detalle' pk=Publicacion.pk %}" style="text-decoration: none; color: inherit;">
                    <div class="card">

                        <div class="card-body">
                            <h5 class="card-title">{{ Publicacion.autor }}</h5>
                            <p class="card-text">{{ Publicacion.texto|linebreaksbr }}</p>
                             <a class="" href="{% url 'estilo' %}" style="color: #303030"><span class="material-symbols-outlined">chat</span></a>
                            <a class="" href="{% url 'fav' pk=Publicacion.pk %}" style="color: #303030"><span class="material-symbols-outlined">favorite</span></a>
                            {{ Publicacion.fecha_publicacion }}
                        </div> 
                        <form method="POST" class="post-form">{% csrf_token %}
                            <div class="field publicar">
                                <select name="respuesta_a" id="id_respuesta_a" style="display: none;">
                                    <option value="{{ Publicacion.pk }}" selected=""></option>
                                  </select>
                                <input type="text" name="texto" id="texto" class="form-control">
                                <button class="btn btn-outline-secondary" type="submit" id="boton-guardar">Publicar</button>
                            </div>
                        </form>
                    </div>
                    </a>
                           {% for Respuesta in respuestas %} 
                            {% if Respuesta.respuesta_a_id == Publicacion.pk %}
                    <a href="{% url 'publicacion_detalle' pk=Respuesta.pk %}" style="text-decoration: none; color: inherit;">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ Respuesta.autor }}</h5>
                            <p class="card-text">{{ Respuesta.texto|linebreaksbr }}</p>
                            
                            <span class="material-symbols-outlined">chat</span>
                            <a class="" href="{% url 'fav' pk=Respuesta.pk %}" style="color: #303030"><span class="material-symbols-outlined">favorite</span></a>
                            {{ Respuesta.fecha_publicacion }}
                        </div>
                        
                    
                    </div></a>
                    {% endif %}
                        {% endfor %}
                    
                </div>
                
            </div>
            
            {% endfor %}
            <div class="publicar pub">
                <a href="{% url 'estilo' %}"><img src="{% static 'escribirtw.png' %}" alt="escribirtw"></a>
            </div>
</body>
</html>