{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicaciones</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="{% static 'publicacion_detalle.css' %}">
</head>
<body>
    {% include 'barra_navegacion.html' %}
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'home' %}">{{ publicaciones.autor }}</a></h5>
                    <p class="card-text">{{ publicaciones.texto|linebreaksbr }}</p>
                    
                    
                    
                    <div class="date">
                        <span class="material-symbols-outlined">chat</span>
                        <a class="" href="{% url 'fav' pk=publicaciones.pk %}" style="color: #303030"><span class="material-symbols-outlined">favorite</span></a>
                        {% if publicaciones.autor == usuario %}
                        <a class="" href="{% url 'publicacion_editar' pk=publicaciones.pk %}" style="color: #303030"><span class="material-symbols-outlined">edit</span></a>
                        <a class="" href="{% url 'publicacion_eliminar' pk=publicaciones.pk %}" style="color: #303030;"><span class="material-symbols-outlined">delete</span></a>
                        {% endif %}
                        {% if publicaciones.fecha_publicacion %}
                        {{ publicaciones.fecha_publicacion }}
                        {% endif %}

                    </div>
                    
                    
                </div>
            </div>
       
            
            {% for Respuesta in respuestas %}
            <a href="{% url 'publicacion_detalle' pk=Respuesta.pk %}" style="text-decoration: none; color: inherit;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color: #0c6cfc;">{{ Respuesta.autor }}</h5>
                    <p class="card-text">{{ Respuesta.texto|linebreaksbr }}</p>    
                    <div class="date">
                        <span class="material-symbols-outlined">chat</span>
                        <a class="" href="{% url 'fav' pk=Respuesta.pk %}" style="color: #303030"><span class="material-symbols-outlined">favorite</span></a>
                        {% if Respuesta.autor == usuario %}
                        <a class="" href="{% url 'publicacion_editar' pk=Respuesta.pk %}" style="color: #303030"><span class="material-symbols-outlined">edit</span></a>
                        <a class="" href="{% url 'publicacion_eliminar' pk=Respuesta.pk %}" style="color: #303030;"><span class="material-symbols-outlined">delete</span></a>
                        {% endif %}
                        {{ Respuesta.fecha_publicacion }}
                    </div>
                </div>
            </div></a>
            {% endfor %}
        </div>
            
    </div>
</div>
      
</body>
</html>